.navbar{
    /* position: relative; */
    /* display: flex; */
    /* align-content: flex-end; */
    /* justify-content: end; */
}
.nav{
    position: fixed;
    top: 96%;
    /* display: flex; */
    background-color: #f0f;
}
.navbar nav ul{
    display: flex;
    flex-direction: row;
    background-color: #F1E3D3;
    width: 100vw;
    height: 3vh;
    padding: 8px;
    align-items: center;
    font-size: .8rem;
    justify-content: center;
}
ul{
  display: flex;
  justify-content: space-between;
}
.phaut {
    background-color: #99C1B9;
    height: 100vh;
    /* position: relative; */
}

h1 {
    color: #F1E3D3;
    font-size: 2rem;
    font-family: "Protest Riot", sans-serif;
    padding: 30px;
}

main section div h2{
    padding-bottom: 10px;
    font-size: 2rem;
}
.section__span{
    color: #F1E3D3;
    font-size: 3rem;
    position: fixed;
    right: 30px;
    top: 30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 2.5rem;
 }

main section div img{
    width: 30vw;
    border: solid #F1E3D3 0px;
}
main section div p{
    font-family: "Roboto Condensed", sans-serif;

    font-size: 1rem;
    margin: 0 2.1rem 0 2.1rem;
}
.main__section__div {
    display: block;
    color:#F1E3D3 ;
    font-size: 30px;
    margin: 2rem;
    text-align: center;
}
.pmilieu{
    background-color: #F1E3D3;
    height: 145vh;
    color: black;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}
img{
    width: 12em;
    margin-top: 3rem;
    padding-bottom: 10px;
}
img:hover{
    transition-duration: 0.5s;
    transform:  rotate(10deg);
}
